* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html {
  height: 100%;           /* Fill all the window */
}

nav {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  h1 {
    font-family: Georgia;
    font-size: 24px;
  }
  #nav-cont {
    width: 600px;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul {
      width: 400px;
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          color: #000000;
          font-family: Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 100;
        }
        a:hover {
          border-bottom: 2px solid #000;
          padding-bottom: 2px;
          font-weight: 400;
        }
      }
    }
    #nav-btn {
      background-color: #000000;
      color: #fff;
      width: 88px;
      height: 30px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}



// main {
//   background-color: #FAFAFA;
//   width: 100%;
//   height: min-content;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   // gap: 10px;
//   .card {
//     flex: 33%;
//     max-width: 33%;
//     height: min-content;
//     // position: relative;
//     border: orange dashed 2px;
//     flex-grow: 1;
//     .wrapper {
//       // width: auto;
//       // position:relative;
//       border: 2px solid red;
//       img {
//         // height: 25%;
//         width: 100%;
//         object-fit: cover;
//         border: blue 2px solid;
//         // vertical-align: middle;
//       }
//     }
//     .info-container {
//       position: absolute;
//       border: green dashed 2px;
//       z-index: 2;
//       top: 0;
//     }
//   }
  
// }


main {
  background-color: #FAFAFA;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  // grid-template-rows: repeat(2, 400px);
  // grid-auto-flow: dense;
  grid-auto-rows: auto;
  .card {
    grid-template-rows: max-content;
    // max-width: 50%;
    height: min-content;
    // position: relative;
    border: orange dashed 2px;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(1, auto);
    .wrapper {
      // width: auto;
      // position:relative;
      border: 2px solid red;
      img {
        // height: 25%;
        width: 100%;
        object-fit: cover;
        border: blue 2px solid;
        vertical-align: middle;
      }
    }
    .info-container {
      position: absolute;
      border: green dashed 2px;
      z-index: 2;
      top: 0;
    }
  }
  
}